
nav
{
    background-color: darkgrey;
}
nav ul.navegacion li
{
    list-style-type: none;
    display: inline;
    margin: 20px;
}

nav ul li a 
{
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  color: black;
}

nav ul li a:hover 
{
  background: lightgrey;
}

nav ul li a:active 
{
  background: white;
}

section {
    width: 69%;
    background: #3b3b50;
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;
}

aside {
    float: right;
    width: 29%;
}
footer {
    position: relative;
    margin-top: -50px;
    height: 40px; 
    padding:5px 0px;
    clear: both;
    background: #c8d7f5;
    text-align: center;
    color: #fff;
}
figure {
    display: table; margin: 0 auto;
}
table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}
#principal {
    width: 90%;
    height: 80%;
    background: #3b6671;
    color: #0c0c0b ;
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;
}
#texto{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 26px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 1%;
     padding-left: 2%;
 }

 .parrafo{
    justify-content: baseline;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1%;
    padding-left: 2%;
}